
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .bg {
            background-image: url("/imgs/yapim.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="/css/rubic.css">
</head>
<body>
    <div class="bg">
        <div class="center">
            <a class="nav-link btn btn-primary text-dark shadow-none btn-lg" style="width:50% !important; height:30% !important; text-align: center !important;" href="/Home">Ana Sayfaya Dön</a>
        </div>
        
    </div>
</body>
</html>
